.container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #660066;
  color: white; 
  padding: 30px;
  padding-left: 40px;
}

h1 {
  font-size: 40px;
}

.blog {
  display: flex;
  flex-direction: row;
}

#title-input {
  display: block;
  width: 200px;
}

#content-input {
  display: block;
  width: 200px;
  height: 200px;
}

#list {
  min-width: 30%;
}

#nav-bar li { 
  list-style-type: none; 
} 

li {
  border: solid grey;
  border-width: thin;
  width: 50%;
  padding: 2px;
  padding-left: 10px;
  cursor: pointer;
}

#title-text {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

#content-text {
  display: block;
  margin-top: 20px;
}

.post {
  margin-top: 10px;
}

button {
  cursor: pointer;
}

#edit-button, #delete-button {
  margin-top: 10px;
}

#create {
  background-color: grey;
  color: #ffffff;
  border: none;
  width: 150px;
  height: 40px;
  font-size: 15px;
  margin-top: 30px;
}