.container {
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
}

.header {
  background-color: #660066;
  color: white; 
  padding: 30px;
  padding-left: 40px;
}

.blog {
  display: flex;
  flex-direction: row;
}

#title-input {
  display: block;
}

#content-input {
  display: block;
}

#list {
  min-width: 30%;
}

#nav-bar li { 
  list-style-type: none; 
} 

li {
  border: solid grey;
  border-width: thin;
  width: 50%;
  padding: 2px;
  padding-left: 10px;
  cursor: pointer;
}

#title-text {
  display: block;
  font-size: 30px;
  font-weight: bold;
}

#content-text {
  display: block;
}
